<!-- Design -->
<footer id="footer">
    <div class="container">
        <p class="copyright">&copy; <a>Bleya Social Club</a></p>
    </div>
    <div class="social-media" style="margin-top: 20px;">
        <div class="socializer a sr-32px sr-circle sr-opacity sr-icon-white sr-bg-dark sr-pad">
            <span class="sr-facebook">
                <a href="https://www.facebook.com/bleya" target="_blank" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </span>
            <span class="sr-instagram">
                <a href="https://www.instagram.com/languagecafebgd/" target="_blank" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </span>
            <span class="sr-email">
                <a href="mailto:bleya.social.club@gmail.com" target="_blank" title="Email">
                    <i class="fa fa-envelope"></i>
                </a>
            </span>
            <span class="sr-more">
                <a href="https://www.meetup.com/bleya-language-social-club/" target="_blank" title="Meetup">
                    <i class="fa fa-share-alt"></i>
                </a>
            </span>
        </div>
    </div>
</footer>